{% extends 'layout.html.twig' %}

{% block title %}
	Setări
{% endblock %}

{% block content %}
	<div class="mt-3 p-3 border">
		<h5>NIR</h5>
		<form method="post" style="max-width: 400px;">
			<div class="input-group">
				<span class="input-group-text">Ultimul număr:</span>
				<input type="number" min="0" class="form-control text-end" name="note_last_number" value="{{ settings.note_last_number }}" required>
				<button type="submit" class="btn btn-success">
					<i class="bi bi-floppy-fill"></i>
					Salvează
				</button>
			</div>
		</form>
	</div>
	<div class="mt-3 p-3 border">
		<h5>Autorizare ANAF</h5>
		<div>
			Expiră:
			{{ settings.anaf_oauth2_refresh_token_expires|date }}
			-
			<a href="{{ path('app_anafoauth2_authorize') }}">înnoiește</a>
		</div>
		<div class="text-secondary">
			<small>Autorizare temporară:
				{{ settings.anaf_oauth2_access_token_expires|date }}
			</small>
		</div>
	</div>
{% endblock %}
